<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola gulp</title>
</head>
<body>
  <p>Hola gulp otra vez y escuchando otra vez y una vez más</p>
  <p>Un enlace al <a href="carpeta/subcarpeta/template.html">template</a></p>
  {% import "_template-test.njk" as test %}
  <p>Probando nunjucks: {{ test.holaMundo }}</p>
</body>
</html>